.home-image{
    height: 70vh;
}
.cta-button{
    display: block;
    margin-top:30px
}
@media (max-width: 48.0625em) and (min-width: 46.5em), (min-width: 61.5em){
    [data-has-navigation] .Polaris-EmptyState__Image {
        margin-top: 0;
        margin-left: -70%;
        width: 135%;
    }
}
